<div class="split-container">
  <div class="left-pane">
    <div>
      <h4 class="sub_title" *ngIf="isSelected; else editTitle">Add Card</h4>
      <ng-template #editTitle>
        <h4 class="sub_title">Edit Card</h4>
      </ng-template>
      <div style="padding: 0px 20px 20px 20px">
        <form
          class="card-form"
          (ngSubmit)="isSelected ? addSubmit() : editSubmit()"
          #cardForm="ngForm"
        >
          <div class="form-group">
            <label for="card-owner">Card Owner Name:</label>
            <input
              type="text"
              id="card-owner"
              name="card-owner"
              required
              placeholder="Full Name"
              [(ngModel)]="payment.cardOwnerName"
              #cardOwner="ngModel"
              pattern="[A-Z\s]+"
              title="Please enter uppercase letters only"
            />
            <div
              *ngIf="
                cardOwner.invalid && (cardOwner.dirty || cardOwner.touched)
              "
              class="error-message tw-p-2 tw-text-red-500"
            >
              All Caps Required for Card Owner Name.
            </div>
          </div>
          <div class="form-group">
            <label for="card-number">Card Number:</label>
            <input
              type="text"
              id="card-number"
              name="card-number"
              required
              placeholder="16 Digit Card Number"
              [(ngModel)]="payment.cardNumber"
              #cardNumber="ngModel"
              pattern="[0-9]{16}"
            />
            <div
              class="error-message tw-p-2 tw-text-red-500"
              *ngIf="
                cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)
              "
            >
              <div *ngIf="cardNumber.errors?.['required']">
                Card number is required
              </div>
              <div *ngIf="cardNumber.errors?.['pattern']">
                Card number must be 16 digits
              </div>
            </div>
          </div>
          <div class="form-group flex-container">
            <div>
              <label for="security-code">Security Code:</label>
              <input
                type="text"
                id="security-code"
                name="security-code"
                placeholder="Security Code"
                required
                [(ngModel)]="payment.securityCode"
                #securityCode="ngModel"
                pattern="[0-9]{3}"
              />
              <div
                class="error-message tw-p-2 tw-text-red-500"
                *ngIf="
                  securityCode.invalid &&
                  (securityCode.dirty || securityCode.touched)
                "
              >
                <div *ngIf="securityCode.errors?.['required']">
                  Security code is required
                </div>
                <div *ngIf="securityCode.errors?.['pattern']">
                  Security code must be 3 digits
                </div>
              </div>
            </div>
            <div>
              <label for="valid-through">Valid Through:</label>
              <input
                type="text"
                id="valid-through"
                name="valid-through"
                placeholder="MM/YY"
                required
                [(ngModel)]="payment.validThrough"
                #validThrough="ngModel"
                pattern="(0[1-9]|1[0-2])\/[0-9]{2}"
              />
              <div
                class="error-message tw-p-2 tw-text-red-500"
                *ngIf="
                  validThrough.invalid &&
                  (validThrough.dirty || validThrough.touched)
                "
              >
                <div *ngIf="validThrough.errors?.['required']">
                  Valid through date is required
                </div>
                <div *ngIf="validThrough.errors?.['pattern']">
                  Valid through date must be in MM/YY format
                </div>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="cardForm.invalid">
            {{ isSelected ? "Add Card" : "Edit Card" }}
          </button>
          <button class="clear-button" type="submit" (click)="clearForm()">
            Clear Button
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="right-pane">
    <h4 class="sub_title">Card List</h4>
    <table class="card-table">
      <thead>
        <tr>
          <th>Card Owner</th>
          <th>Card Number</th>
          <th>Exp. Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <td>{{ payment.cardOwnerName }}</td>
          <td>{{ payment.cardNumber }}</td>
          <td>{{ payment.validThrough | monthYear }}</td>
          <td>
            <img
              src="assets/edit.png"
              alt="Edit"
              width="20"
              height="20"
              (click)="onEditClick(payment)"
            />
          </td>
          <td>
            <img
              src="assets/bin.png"
              alt="Delete"
              width="20"
              height="20"
              (click)="deleteCard(payment)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
