<h4 class="sub_title">Card List</h4>
<table class="card-table">
  <thead>
    <tr>
      <th>Card Owner</th>
      <th>Card Number</th>
      <th>Exp. Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.cardOwnerName }}</td>
      <td>{{ payment.cardNumber }}</td>
      <td>{{ payment.validThrough | monthYear }}</td>
      <td>
        <img src="assets/edit.png" alt="Edit" width="20" height="20" />
      </td>
      <td>
        <img src="assets/bin.png" alt="Delete" width="20" height="20" />
      </td>
    </tr>
  </tbody>
</table>
