<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <a href="#home">
        <a class="navbar-brand" href="#" style="font-size: 20px">
          <img width="35px" height="auto" src="../assets/logo.png" />
          MyPolicyApp
        </a>
      </a>
    </div>

    <!-- Navbar Links -->
    <div class="menuIcon">
      <div class="icon-bars"></div>
    </div>
    <ul id="menu">
      <li><a href="">Home</a></li>
      <li><a>Services</a></li>
      <li><a>About</a></li>
    </ul>
    <div class="auth-buttons">
      <a class="login-button" routerLink="/" *ngIf="!isAuthenticated()"
        >Login</a
      >
      <a class="logout-button" *ngIf="isAuthenticated()" (click)="logout()"
        >Logout</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
