.form-group {
}

label {
  display: block;
  font-weight: bold;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 100%;
  margin-top: 20px; /* Adjust margin as needed */
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  width: 48%; /* Adjust width as needed */
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container > div {
    width: 100%;
  }
}
.sub_title {
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  width: 100%;
}
