<div class="user-details">
  <h2>User Details</h2>
  <hr />
  <div class="details-row">
    <div class="detail">
      <p><strong>Employee ID:</strong> I270</p>
    </div>
    <div class="detail">
      <p><strong>Name:</strong> john.doe</p>
    </div>
    <div class="detail">
      <p><strong>Company Name:</strong> john.doe</p>
    </div>
  </div>
  <div class="details-row">
    <div class="detail">
      <p><strong>Email ID:</strong> Software Engineer</p>
    </div>
    <div class="detail">
      <p><strong>Phone:</strong> Engineering</p>
    </div>
    <div class="detail">
      <p><strong>Join Date:</strong> Engineering</p>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title">List of Insurance</h2>
  <div class="insurance-cards">
    <div class="card dark">
      <img src="/assets/insurance.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="text-section">
          <h5 class="card-title fw-bold mb-4">Policy Type: Health Policy</h5>
          <table>
            <tr>
              <td>
                <p class="card-text fw-bold">
                  <span class="insurer">Insurer:</span>
                </p>
              </td>
              <td><span class="name">Paresh Mahajan</span></td>
            </tr>
            <tr>
              <td>
                <p class="card-text fw-bold">
                  <span class="insurer">Start Date:</span>
                </p>
              </td>
              <td><span class="name">01/01/2024</span></td>
            </tr>
            <tr>
              <td>
                <p class="card-text fw-bold">
                  <span class="insurer">End Date:</span>
                </p>
              </td>
              <td><span class="name">01/01/2025</span></td>
            </tr>
          </table>
        </div>
        <div class="cta-section">
          <div>$129.00</div>
          <a href="#" class="btn btn-light">Make Payment</a>
        </div>
      </div>
    </div>
  </div>
</div>
