<div class="user-details">
  <h2>User Details</h2>
  <hr />
  <div class="details-row">
    <div class="detail">
      <p><strong>Employee ID:</strong> {{ employeeDetail.empId }}</p>
    </div>
    <div class="detail">
      <p><strong>Name:</strong> {{ employeeDetail.name }}</p>
    </div>
    <div class="detail">
      <p><strong>Company Name:</strong> {{ employeeDetail.companyName }}</p>
    </div>
  </div>
  <div class="details-row">
    <div class="detail">
      <p><strong>Email ID:</strong> Software Engineer</p>
    </div>
    <div class="detail">
      <p><strong>Phone:</strong> {{ employeeDetail.phone }}</p>
    </div>
    <div class="detail">
      <p>
        <strong>Join Date:</strong>
        {{ employeeDetail.joinDate.toString() | dateFormat }}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title">List of Insurance</h2>
  <div *ngFor="let policy of policies">
    <div class="insurance-cards">
      <div class="card dark">
        <img src="/assets/insurance.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="text-section">
            <h5 class="card-title fw-bold mb-4">
              Policy Type: {{ policy.policyType }}
            </h5>
            <table>
              <tr>
                <td>
                  <p class="card-text fw-bold">
                    <span class="insurer">Insurer:</span>
                  </p>
                </td>
                <td>
                  <span class="name">{{ policy.insurer }}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="card-text fw-bold">
                    <span class="insurer">Start Date:</span>
                  </p>
                </td>
                <td>
                  <span class="name">{{ policy.startDate | dateFormat }}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="card-text fw-bold">
                    <span class="insurer">End Date:</span>
                  </p>
                </td>
                <td>
                  <span class="name">{{ policy.endDate | dateFormat }}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="cta-section">
            <div>{{ policy.amount | currency : "INR" }}</div>
            <a routerLink="/payments" class="btn btn-light">Make Payment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
